<h1>Add Employees</h1>

<form #ProductsForm="ngForm" [formGroup]="postForm" >
    <h1>Student form</h1>
    <hr>
    Sid: <br>
    <input type="text" pInputText formControlName="sid"><br><br>
    Sname: <br>
    <input type="text" pInputText formControlName="sname" ><br><br>
    Department: <br>
    <input type="text" pInputText formControlName="department" ><br><br>
    Phonenumber: <br>
    <input type="text" pInputText formControlName="phonenumber" ><br><br>
    <button (click)="submit()">Login</button>
</form>
<h1>Employee List</h1>
<table>
    <tr>
        <th>SNo</th>
        <th>Eid</th>
        <th>Ename</th>
        <th>Department</th>
        <th>Phonenumber</th>
        <th>Action</th>
    </tr>
    <tr *ngFor="let item of studentData; index as i">
        <td>{{i+1}}</td>
       <td>{{item.sid}}</td>
       <td>{{item.sname}}</td>
       <td>{{item.department}}</td>
       <td>{{item.phonenumber}}</td>
       <td>
        <i (click)="deleteStudent(item.sid)" class="fa fa-trash"></i>&nbsp;
        <i (click)="edit(item.sid)" class="fa fa-edit"></i>
    </td>
    </tr>
</table>