<!-- String Interpolation -->
<!-- <h1>{{name}}</h1> -->

<!-- Property Binding -->
<!-- <button [disabled]="Active">Click</button> -->

<!-- Event Binding -->
<!-- <h1>Counter:{{counter}}</h1>
<button (click)="show()">Incerment</button> -->

<!-- class Binding -->
<!-- <h1 [class]="isactive?'Active':'IsActive'">Vineetha</h1> -->

<!-- Style Binding -->
<!-- <h1 [style]="styl">VINEETHA</h1> -->

<!-- Twoway Databinding -->
<!-- City:<input type="text" [(ngModel)]="city">
<button (click)="update()">Update City</button>
<p>{{city}}</p> -->