<!-- 1.Routing -->
<!-- <app-correctrouting></app-correctrouting>    -->
<!-- <router-outlet></router-outlet>  -->

<!-- 2.Data Binding -->
<!-- <app-databinding></app-databinding> -->

<!-- 3.Forms -->
<!-- <app-form></app-form> -->
<!-- <app-reactiveform> </app-reactiveform> -->
<!-- <app-form-builder></app-form-builder> -->

<!-- 4.Directives -->
<!-- <app-structural></app-structural> -->
<!-- <app-attribute-directive></app-attribute-directive> -->

<!-- 5.Pipe -->
<!-- <app-pipes></app-pipes>  -->

<!-- 6.Component Interaction -->
<!-- <app-parent1></app-parent1>  -->

<!-- 7.services -->
<!-- <app-add-student></app-add-student> -->
<!-- <app-postmethod></app-postmethod> -->
<!-- <app-httpmethods></app-httpmethods> -->
<!-- <app-getmethod></app-getmethod> -->
<!-- <app-edit></app-edit>  -->
<!-- <app-deletemethod></app-deletemethod> -->
<!-- <app-patchmethod></app-patchmethod> -->
<!-- <app-list-student></app-list-student> -->


<!-- <app-student1></app-student1>
<app-student2></app-student2> -->

<!-- <app-apicomponent ></app-apicomponent> -->

<!-- <app-observable-parent></app-observable-parent> -->
<!-- <app-observable-child></app-observable-child>  -->

<!-- 8.Observable -->
<!-- <app-observable></app-observable>  -->

<!-- 9.Charts -->
<!-- <app-charts></app-charts> -->

<!--10. Life Cycle Hooks -->
<!-- <app-life-cycle-hook-parent></app-life-cycle-hook-parent> -->

<!-- 11.Media Queries -->
<!-- <app-mediaqueries></app-mediaqueries> -->

<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item"><a href="">Home</a></li>
        <li class="nav-item"><a href="/cutomer">Customer</a></li>
        <li class="nav-item"><a href="/category">Categories</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->





















<!-- <app-header></app-header> -->





























<!-- 27-01-2023 -->


<!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon> -->
