<!-- <div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column">
        <li class="nav-item"><a href="">Home</a></li>
        <li class="nav-item"><a href="/cutomer">Customer</a></li>
        <li class="nav-item"><a href="/category">Categories</a></li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div> -->


<!-- <h1>{{h}}</h1> -->
<!-- <button [disabled]=isdisabled>click </button> -->
<!-- <h1>counter:{{counter}}</h1>
<button (click)="event()">Increment</button> -->
<!-- <p [class]="isactive?'active':'isactive'">Hello world</p> -->
<!-- <h2 [style]="a">MIRACLE</h2> -->

<!-- City<input type="text" [(ngModel)]="city">
<button (click)="updatecity()">update</button>
<p>{{city}}</p> -->


<!-- //attribute directives
<button [ngStyle]="styles()">Vineetha</button> -->
<!-- Structural directives -->
<!-- <input type="text" *ngIf="show1" placeholder="vineetha"> -->
<!-- <h1 *ngFor="let n of names">{{n}}</h1> -->
<!-- <div [ngSwitch]="name">
<div *ngSwitchCase="'sai'">sai</div>
<div *ngSwitchCase="'vineetha'">vineetha</div>
<div *ngSwitchCase="'siva'">siva</div>
<div *ngSwitchCase="'koti'">koti</div>
</div> -->
<!-- <app-form></app-form> -->

<!-- <app-reactiveform> </app-reactiveform> -->

<!-- <app-structural></app-structural> -->

<!-- <app-pipes></app-pipes> -->

<!-- <app-form-builder></app-form-builder> -->

<!-- <app-patchmethod></app-patchmethod> -->



<!-- <app-parent1></app-parent1> -->


<!-- <app-child1></app-child1>  -->
<!-- <app-header></app-header> -->


<!-- <app-correctrouting></app-correctrouting> -->

<!-- <app-student1></app-student1> -->
<!-- <app-student2></app-student2> -->



<!-- <app-observable></app-observable> -->
<!-- <app-observable-parent></app-observable-parent>
<app-observable-child></app-observable-child> -->


<!-- <app-dataservice></app-dataservice> -->
<!-- <app-postmethod></app-postmethod> -->
<!-- <app-deletemethod></app-deletemethod> -->
<!-- <app-getmethod></app-getmethod> -->



<!-- <app-httpmethods></app-httpmethods> -->


<!-- <app-add-student></app-add-student> -->


<!-- <app-list-student></app-list-student>-->
<!-- <router-outlet></router-outlet>  -->
<!-- <app-edit></app-edit> -->
<!-- <app-charts></app-charts> -->


<!-- 27-01-2023 -->
<app-life-cycle-hook-parent></app-life-cycle-hook-parent>